<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Add cookie</title>
  </head>
  <body>
    <form method="POST">
      <label
        >key
        <input type="text" name="key" />
        value
        <input type="text" name="value" />
        <input type="submit" value="add" />
      </label>
    </form>
    <br/>
    <br/>
    <table>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <% for(let cookie in cookies){%>
      <tr>
        <td><%= cookie %></td>
        <td><%= cookies[cookie] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
